// <---- MENU PAGE ---->
@media (min-width: 740px) {
  .tab-pane {
    grid-template-columns: repeat(2, 310px);
  }
}

@media (min-width: 1440px) {
  .tab-pane {
    grid-template-columns: repeat(4, 310px);
  }
}

// <---- ALL PAGES ---->
@media (max-width: 1440px) {
  .wrapper {
    width: 100%;
  }

}

@media (max-width: 1075px) {
  // <---- FOOTER ---->
  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 60px;
  }
}

// <---- TABLET 768px ---->

@media (max-width: 768px) {
  // <---- MENU BURGER ---->
  .coffee-menu {
    height: auto;
  }
  .humburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid $border-dark;
    cursor: pointer;
    z-index: 15;
    &__container {
      display: block;
      position: relative;
      width: 1rem;
      height: 0.65rem;
    }
  }
  .humburger__container::before,
  .humburger__container::after {
    content: '';
    position: absolute;
    left: -0.05rem;
    width: 1.1rem;
    height: 2px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    background-color: $border-dark;
  }
  .humburger__container::before {
    top: 0;
  }
  .humburger__container::after {
    bottom: 0;
  }
  .humburger.active .humburger__container {
    width: 0.65rem;
  }
  .humburger.active .humburger__container::before {
    background-color: $text-dark;
    transform: rotate(45deg) translate(0px, 50%);
    top: 0.25rem;
    left: -0.2rem;
    height: 0.075rem;
  }
  .humburger.active .humburger__container::after  {
    background-color: $text-dark;
    transform: rotate(-45deg) translate(0px, -50%);
    bottom: 0.25rem;
    left: -0.2rem;
    height: 0.075rem;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $background-body;
    transition: right 0.3s ease 0s;
    padding: 160px 40px 60px 40px;
    gap: 100px;
    overflow: auto;
    z-index: 5;
  }
  .menu._active {
    right: 0;
  }
  .menu__nav {
    flex-direction: column;
    gap: 60px;
    flex-grow: 0;
  }
  .menu__text {
    font-size: 32px;
    line-height: 125%;
  }
  .menu__icon {
    width: 40px;
    height: 40px;
  }
  .menu__item {
    border-bottom: none;
  }
  .menu__link {
    gap: 16px;
  }

  // <---- HOME PAGE/HERO SECTION ---->
  .hero__container {
    padding: 100px 60px;
  }
  .button-primary__text {
    margin-right: 0;
  }
  .button-primary::after {
    opacity: 1;
    margin-right: 0;
    transition: none;
  }

  // <---- HOME PAGE/FAVORITE-COFFEE SECTION ---->
  .slider__slide-1 {
    width: 488px;
  }

  // <---- HOME PAGE/ABOUT SECTION ---->
  .about__columns {
    flex-direction: column;
  }
  .column-1 .box:last-child, .column-2 .box:first-child {
    display: none;
  }
  .column-1 .box:first-child, .column-2 .box:last-child {
    max-width: 688px;
  }
  .mobile-app__title {
    width: auto;
  }
}

// <---- MAX-WIDTH: 730PX ---->

@media (max-width: 730px) {
  // <---- HOME PAGE/HEADER ---->
  .hero__ofer {
    width: 316px;
  }
  .hero__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
  }

  // <---- HOME PAGE/FAVORITE-COFFEE SECTION ---->
  .slider__button-icon-dark {
    display: none;
  }
}

// <---- MOBILE 480PX ---->

@media (max-width: 480px) {
  // <---- HOME PAGE/HEADER ---->
  .header__container {
    padding: 0 16px;
  }
  .hero {
    padding: 0 16px;
  }
  .hero__container {
    padding: 60px 16px;
  }

  // <---- HOME PAGE/FAVORITE-COFFEE SECTION ---->
  .favorite-coffee {
    padding: 0 16px;
  }
  .slider__coffee-slider-1 {
    max-width: 348px;
    max-height: 348px;
  }
  .description__text {
    width: 348px;
  }

  // <---- HOME PAGE/ABOUT SECTION ---->
  .about {
    padding: 0 16px;
  }

  // <---- HOME PAGE/MOBILE-APP SECTION ---->
  .mobile-app {
    padding: 0 16px;
  }
  .mobile-screens {
    max-width: 348px;
  }
  .buttons {
    flex-direction: column;
  }

  // <---- FOOTER ---->
  .contacts {
    padding: 0 16px;
  }
  .contacts__container {
    padding: 60px 16px;
    gap: 40px;
  }

  // <---- MENU PAGE/BLOCK SECTION ---->
  .block {
    padding: 0 16px;
  }
}

// <---- MOBILE 380px ---->

@media (max-width: 380px) {
  // <---- HOME PAGE/ABOUT SECTION ---->
  .column-1 .box:first-child, .column-2 .box:last-child {
    max-width: 348px;
    height: 590px;
  }
  .box__image {
    width: 726px;
    transform: scale(1);
  }

  // <---- HOME PAGE/MOBILE-APP SECTION ---->
  .mobile-app__container {
    gap: 40px;
  }
}