.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  gap: 40px;
  // align-self: stretch;
  &__container {
    display: flex;
    max-width: 1360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  }
  &__columns {
    display: flex;
    max-width: 1360px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  &__image {
    width: 100%;
    object-fit: cover;
    transform: scale(1.09);
    transition: transform 0.5s ease-in;
  }
}

.column-1 .box:first-child, .column-2 .box:last-child {
  max-width: 660px;
  max-height: 590px;
}

.column-1 .box:last-child, .column-2 .box:first-child {
  max-width: 660px;
  max-height: 430px;
}

.box:hover img {
  transform: scale(1);
}